<plugin>
   <nom>Vacarme numéros</nom>
   <auteur>cld</auteur>
   <licence>GNU/GLP</licence>
   <version>0.1</version>
   <version_base>0.1</version_base>
   <description>
      Pour importer les numéros et les ajouter comme produits pour la rubrique vente au numero
   </description>
   <etat>dev</etat>
   <prefix>vacarme_numeros</prefix>
   <install>base/vacarme_numeros_install.php</install>
   <pipeline>
      <nom>declarer_tables_principales</nom>
      <inclure>base/vacarme_numeros.php</inclure>
   </pipeline>
   <pipeline>
      <nom>declarer_tables_auxiliaires</nom>
      <inclure>base/vacarme_numeros.php</inclure>
   </pipeline>
   <pipeline>
      <nom>declarer_tables_interfaces</nom>
      <inclure>base/vacarme_numeros.php</inclure>
   </pipeline>
   <pipeline>
      <nom>taches_generales_cron</nom>
      <inclure>vacarme_numeros_pipelines.php</inclure>
   </pipeline>
   <fonctions>vacarme_numeros_fonctions.php</fonctions>
   <necessite id="SPIP" version="[2.1.10;2.1.99]" />
   <necessite id="medias" version="[1.6.13;]" />
   <!-- ajouter necessite : vacarme_commande, produits, + ?  -->
</plugin>
